<div class="live-chat-customer-selection-list">          
    
    <!--showing detail of an email after clicked from agentDashboard-->
    {{#each emails}}
    <div class="customer-box-email">
        <div class="current-date">{{day}}/{{month}}/{{year}} at {{hours}}:{{minutes}}</div>
        
        <div class="top-box">
            <div class="customer-image">
                <i class='bx bxs-user' ></i>
            </div>
        
            <div class="box-showed-data">
                <p class="box-text-cs">{{name}}, {{email}}</p>
                <p class="box-text-cs">{{complaintCategory}}</p>
                <p class="box-text-cs">{{message}}</p>
            </div>
        
            <div class="indcator-color indicator-open"></div>
        </div>
    </div>
    {{/each}}

</div>

