<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<!-- Our Css -->
	<link rel="stylesheet" href="/css/userListCss.css">
	<link rel="stylesheet" href="/css/style.css">
	<!-- Boxicon -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

	<title>Bank zz</title>
</head>

<body>
	<nav class="live-chat-nav">
      <div class="nav-container">
        {{#each query}}
        <a href="/agent-dashboard/live-chat?id={{id}}&token={{token}}" class="live-chat-button">Live Chat</a>
        <a href="/email-page?id={{id}}&token={{token}}" class="live-chat-button">Email</a>
        <a href="/user-list-page?id={{id}}&token={{token}}" class="live-chat-button nav-button-active">Customer List</a>
        <a href="/agent-dashboard?id={{id}}&token={{token}}" class="live-chat-button">Dashboard</a>
        <a href="/faq-list-page?id={{id}}&token={{token}}" target="_blank" class="live-chat-button">FAQ</a>
        <a href="/agent-dashboard/ticket-archieve?id={{id}}&token={{token}}" class="live-chat-button">Ticket Archieve</a>
        {{/each}}
      </div>
      <div href="#" class="live-chat-button agent-profile">
        <i class='dropbtn bx bx-user-circle'></i>
        <div class="agent-profile-dropdown">
          <a onclick="EditProfile()">Edit Profile</a>
          <a onclick="logOut()">Logout</a>
        </div>
      </div>
    </nav>
	{{{body}}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/js/agentDashboard.js"></script>
</body>

</html>
