<!-- Content Start -->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
            <div class="content-header-left col-md-4 col-12 mb-2">
                <h3 class="content-header-title">Live Chats</h3>
            </div>
            <div class="content-header-right col-md-8 col-12">
                <div class="breadcrumbs-top float-md-right">
                    <div class="breadcrumb-wrapper mr-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">Live Chat</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section id="header-footer">
                <div class="row match-height">
                    <div class="col-xl-5 col-md-4 col-md-12">
                        <div id="alc" class="card">
                            <div class="card-content">
                                <div class="card-body card-head">
                                    <div class="row">
                                        <div class="col-9 btn-group">
                                            <button type="button" class="btn btn-min-width btn-dark" style="width: 100%;">
                                                {{#each current}}
                                                <h4 class="mb-0 text-white">{{'user.name'}}</h4>
                                                {{/each}}
                                                {{#unless current}}
                                                    <h4 class="mb-0 text-white">None</h4>
                                                {{/unless}}
                                            </button>
                                            <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu" style="max-height: 200px; overflow: hidden auto;">
                                                {{#each taken}}
                                                    <a class="dropdown-item" href="/agent-dashboard/live-chat/{{id}}">{{'user.name'}}</a>
                                                {{/each}}
                                                {{#unless taken}}
                                                    <a class="dropdown-item disabled">No Ticket Taken</a>
                                                {{/unless}}
                                            </div>
                                        </div>
                                        <div class="col-3 btn-group">
                                            <button type="button" class="btn btn-icon btn-secondary" data-toggle="modal" data-target="#addModal" onclick="getOpenTicket()">
                                                <i class='ft-user-plus'></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="container border rounded mb-1 p-1 text-white live-chat-monitor">
                                        {{#each chats}}
                                            {{#ifEquals sender 'user'}}
                                            <div class="chat right chat-client bg-light text-dark">{{message}}</div>
                                            {{/ifEquals}}
                                            {{#ifEquals sender 'agent'}}
                                            <div class="chat left bg-primary">{{message}}</div>
                                            {{/ifEquals}}
                                        {{/each}}
                                    </div>
                                    <form action="" class="form">
                                        <div class="form-body">
                                            <div class="input-group">
                                                <input type="text" class="form-control lc-input" placeholder="Enter test">
                                                {{#each current}}
                                                <input type="hidden" value="{{roomName}}" id="roomName">
                                                {{/each}}
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary btn-icon" type="button" id="button-addon2" onclick="sendMessage()">
                                                        <i class='bx bx-send'></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>                                            
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-md-8 col-md-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body card-head">
                                    <h4 class="text-center">Customer Data</h4>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-xl-7 col-lg-12 btn-group">
                                                    <button class="btn btn-min-width btn-success d-flex" style="justify-content: space-evenly; width: 100%;" data-toggle="modal" data-target="#forwardModal">
                                                        Forward Inbox 
                                                        <span class="d-flex justify-content-center align-items-center rounded-circle bg-danger" style="width: 1.6em; height: 1.6em;">1</span>
                                                    </button>
                                                </div>
                                                <div class="col-xl-5 col-lg-12 mt-xl-0 mt-1 btn-group">
                                                    <button type="button" class="btn btn-min-width btn-info" style="width: 100%;">Passed To</button>
                                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    </button>
                                                    <div class="dropdown-menu" style="max-height: 200px; overflow: hidden auto;">
                                                        {{#each agents}}
                                                            <a class="dropdown-item" href="#">{{name}}</a>
                                                        {{/each}}
                                                        {{#unless agents}}
                                                            <a class="dropdown-item" href="#">No Agent</a>
                                                        {{/unless}}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        {{#each current}}
                                            <li class="list-group-item"><span class="cust-data">Name:</span> {{'user.name'}}</li>
                                            <li class="list-group-item"><span class="cust-data">Email:</span> {{'user.email'}}</li>
                                            <li class="list-group-item"><span class="cust-data">Category:</span> {{complaintCategory}}</li>
                                            <li class="list-group-item"><span class="cust-data">Current Status:</span> <span class="status-taken">{{complaintStatus}}</span></li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-6">
                                                        {{#ifEquals complaintStatus 'Open'}}
                                                            <button class="btn btn-success status-toggler" onclick="toggleStatus()" style="width: 100%">Open</button>
                                                        {{/ifEquals}}
                                                        {{#ifEquals complaintStatus 'Taken'}}
                                                            <button class="btn btn-primary status-toggler" onclick="toggleStatus()" style="width: 100%">On Progress</button>
                                                        {{/ifEquals}}
                                                        {{#ifEquals complaintStatus 'Hold'}}
                                                            <button class="btn btn-warning status-toggler" onclick="toggleStatus()" style="width: 100%">On Hold</button>
                                                        {{/ifEquals}}
                                                        {{#ifEquals complaintStatus 'Closed'}}
                                                            <button class="btn btn-danger status-toggler" onclick="toggleStatus()" style="width: 100%">Closed</button>
                                                        {{/ifEquals}}
                                                    </div>
                                                    <div class="col-6">
                                                        <button class="btn btn-danger" style="width: 100%">Close</button>
                                                    </div>
                                                </div>
                                            </li>
                                        {{/each}}
                                        {{#unless current}}
                                            <li class="list-group-item"><span class="fw-bold">Name:</span> Not Taken</li>
                                            <li class="list-group-item"><span class="cust-data">Email:</span> Not Taken</li>
                                            <li class="list-group-item"><span class="cust-data">Category:</span> Not Taken</li>
                                            <li class="list-group-item"><span class="cust-data">Current Status:</span> <span class="status-none">Not Taken</span></li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <button class="btn btn-success disabled status-toggler" style="width: 100%">Open</button>
                                                    </div>
                                                    <div class="col-6">
                                                        <button class="btn btn-danger disabled status-toggler" style="width: 100%">Close</button>
                                                    </div>
                                                </div>
                                            </li>
                                        {{/unless}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- Content End -->

<!-- Modal Forward Start -->
<div class="modal fade" id="forwardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Forward Inbox</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-8 d-flex align-items-center">User#211 From Agent#10</div>
                            <div class="col-4">
                                <button class="btn btn-icon btn-success"><i class='bx bx-check'></i></button>
                                <button class="btn btn-icon btn-danger"><i class='bx bx-block' ></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-8 d-flex align-items-center">User#12 From Agent#4</div>
                            <div class="col-4">
                                <button class="btn btn-icon btn-success"><i class='bx bx-check'></i></button>
                                <button class="btn btn-icon btn-danger"><i class='bx bx-block' ></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-8 d-flex align-items-center">User#50 From Agent#8</div>
                            <div class="col-4">
                                <button class="btn btn-icon btn-success"><i class='bx bx-check'></i></button>
                                <button class="btn btn-icon btn-danger"><i class='bx bx-block' ></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-8 d-flex align-items-center">User#60 From Agent#3</div>
                            <div class="col-4">
                                <button class="btn btn-icon btn-success"><i class='bx bx-check'></i></button>
                                <button class="btn btn-icon btn-danger"><i class='bx bx-block' ></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-8 d-flex align-items-center">User#81 From Agent#7</div>
                            <div class="col-4">
                                <button class="btn btn-icon btn-success"><i class='bx bx-check'></i></button>
                                <button class="btn btn-icon btn-danger"><i class='bx bx-block' ></i></button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Forward End -->

<!-- Modal Add Start -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Live Chat Inbox</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul id="open-list" class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-9 d-flex align-items-center">User#211 From Agent#10</div>
                            <div class="col-2">
                                <button class="accept-button btn btn-icon btn-success"><i class='bx bx-check'></i></button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Add End -->

<!-- BEGIN VENDOR JS-->
<script src="/theme-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
<script src="/theme-assets/vendors/js/charts/chartist.min.js" type="text/javascript"></script>
<!-- END VENDOR JS-->

<!-- BEGIN Custom JS -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/alc.js" type="text/javascript"></script>
<!-- END Custom JS