<div class="top-first">
    <form action="/agent-list-page/search">
        <div class="search-bar">
            <input class="input-sear" name="term" type="search" placeholder="Search agents">
            <input class="button-sear" type="submit" value="Search">
        </div>
    </form>
    <div class="agent-status">
        <div class="active-agent active">
            <div class="number">{{emplo.length}}</div>
            <label class="title">Agent List</label>
        </div>
    </div>
</div>


<div class="bottom-second">
    <div class="row">
        {{#each emplo}}
        <div class="col-md-6">
            <div class="agent-pls">
                <div class="agent-name">
                    <div class="name"><a href="/agent-list-page/open-agent/{{id}}">{{name}}</a></div>
                </div>
                <div class="role">
                    <div class="role">{{roles}}</div>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-6">
            <div class="agent-pls">
                <div class="agent-name">
                    <div class="name"> Agennt not Found!</div>
                </div>
                <div class="role">
                    <div class="role">-------</div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>


    <div class="add-btn">
        <a href="/agent-list-page/create-agent">Create</a>
    </div>
</div>