
<div class="live-chat-forward-sender">
  <div class="customer-box-fs">
    <div class="top-box">
      <div class="customer-image">
        <i class='bx bxs-user' ></i>
      </div>
      <div class="box-showed-data-fs">
        {{#each selected}}
        <p class="box-text-cs">{{'user.name'}}</p>
        <p class="box-text-cs box-text-cat-cs">Category: {{complaintCategory}}</p>
        {{else}}
        <p class="box-text-cs">Ticket unknown</p>
        <p class="box-text-cs box-text-cat-cs">Category: -</p>
        {{/each}}
      </div>
      <div class="agent-dropdown-box">
        <select name="agent-dropdown" id="agent-dropdown" class="agent-dropdown">
          <option value="-" class="dropdown-option"><i class='bx bx-user'></i> ---</option>
          {{#each result}}
          <option value="{{name}}" class="dropdown-option" targetId="{{id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="bottom-box-fs">
      <a onClick="sendForward()" class="forward-button bottom-fs">
        Pass To <i class='bx bx-right-arrow-alt' ></i>
      </a>
    </div>
  </div>
</div>