
<!--Content of showing one email-->



<div class="live-chat-customer-selection-list">          
    {{#each email}}
    <button type="button" class="reply-button" onclick="location.href='/email-page/open-email/{{id}}/reply'">Reply</button>
    <div class="customer-box-email">
        <div class="current-date">Date: {{createdAt}}</div>
        
        <div class="top-box">
            <!--div class="customer-image">
                <i class='bx bxs-user' ></i>
            </div-->
        
            <div class="box-showed-data">
                <p class="box-text-cs">From: {{name}}, {{email}}</p>
                <p class="box-text-cs">Category: {{complaintCategory}}</p>
                <p class="box-text-cs">Message: </p>
            </div>
        
            </div>
                {{#ifEquals complaintStatus 'open'}}
                <div class="indcator-color indicator-open">
                {{/ifEquals}}
                {{#ifEquals complaintStatus 'on Progress'}}
                <div class="indcator-color indicator-progress">
                {{/ifEquals}}
                {{#ifEquals complaintStatus 'on Hold'}}
                <div class="indcator-color indicator-hold">
                {{/ifEquals}}
            </div>
            
            <div class="customer-box-email">
                {{message}}
            </div>
        </div>
        
      
    </div>
  
    {{/each}}

</div>

