<!-- Content -->
<div class="live-chat-customer-selection-list">
  {{#each tckts}}
  <div class="customer-box">
    <div class="current-date">{{day}}/{{month}}/{{year}} at {{hours}}:{{minutes}}</div>
    <div class="top-box">
      <div class="customer-image">
        <i class='bx bxs-user' ></i>
      </div>
      <div class="box-showed-data">
        <p class="box-text-cs">{{name}}</p>
        <p class="box-text-cs box-text-cat-cs">Category: {{complaintCategory}}</p>
      </div>
      <div class="indcator-color indicator-open">
      </div>
    </div>
    <form class="bottom-box" action="/agent-dashboard/live-chat">
      <input type="hidden" name="id" value="1">
      <input type="hidden" name="ticket" value={{roomName}}>
      <button class="customer-accept">
        Accept
      </button>
      <button class="customer-decline">
        Decline
      </button>
    </form>
  </div>
  {{/each}}
</div>