{{#each result}}
<div class="live-chat-section-a">
  <div class="chat-monitor">
    <div class="customer-name">
      {{'user.name'}}
    </div>
    <div class="chat-section"></div>
  </div>
  <form id="chat-form" class="live-chat-input">
    <input id="msg" type="text" placeholder="Write here ..." required>
    <button class="send-button">
      <i class='bx bx-send'></i>
    </button>
  </form>
</div>

<div class="live-chat-section-b">
  <div class="customer-desc-box1">
    <a href="#" class="customer-image">
      <i class='bx bxs-user' ></i>
    </a>
    <div class="forward-section">
      <a href="/agent-dashboard/live-chat/forward-selector?id={{emplId}}" class="forward-button">
        Pass From <i class="forward-from">{{passedFor}}</i>
      </a>
      <a href="/agent-dashboard/live-chat/forward-sender?ticket={{roomName}}" class="forward-button">
        Pass To <i class='bx bx-right-arrow-alt' ></i>
      </a>
    </div>
  </div>
  <div class="customer-desc-box2">
    <h2 class="desc-title">User Info</h2>
    <div class="info-box">
      <table>
        <tr>
          <td><p class="info">ID</p></td>
          <td><p class="info">:</p></td>
          <td><p class="info">{{'user.id'}}</p></td>
        </tr>
        <tr>
          <td><p class="info">Nama</p></td>
          <td><p class="info">:</p></td>
          <td><p class="info">{{'user.name'}}</p></td>
        </tr>
        <tr>
          <td><p class="info">Address</p></td>
          <td><p class="info">:</p></td>
          {{#if 'user.address'}}
          <td><p class="info">{{'user.address'}}</p></td>
          {{else}}
          <td><p class="info"> - </p></td>
          {{/if}}
        </tr>
        <tr>
          <td><p class="info">Email</p></td>
          <td><p class="info">:</p></td>
          <td><p class="info">{{'user.email'}}</p></td>
        </tr>
        <tr>
          <td><p class="info">Phone</p></td>
          <td><p class="info">:</p></td>
          {{#if 'user.phone'}}
          <td><p class="info">{{'user.phone'}}</p></td>
          {{else}}
          <td><p class="info">-</p></td>
          {{/if}}
        </tr>
        <tr>
          <td><p class="info complaint-category">Category</p></td>
          <td><p class="info complaint-category">:</p></td>
          <td><p class="info complaint-category">{{complaintCategory}}</p></td>
        </tr>
      </table>
    </div>
    <div class="status-button-section">
      <button class="current-status status status-progress fw-bold" onclick="changeTicketStatus()">{{complaintStatus}}</button>
      <button class="status status-done" onclick="closedTicketSession()">Close Ticket</button>
    </div>
  </div>
</div>
{{/each}}