<div class="top-first">
    <form method="post">
        <div class="search-bar">
            <input class="input-sear" name="term" type="search" placeholder="Search Users">
            <button class="button-sear" type="submit"> Search </button>
        </div>
    </form>
    <div class="agent-status">
        <div class="active-agent active">
            <div class="number">{{usere.length}}</div>
            <label class="title">User List</label>
        </div>
    </div>
</div>


<div class="bottom-second">
    <div class="row">
        {{#each usere}}
        <div class="col-md-6">
            <div class="agent-pls">
                <div class="agent-name">
                    <div class="name"><a href="/user-list-page/open-user/{{id}}?id={{agentId}}&token={{ticket}}">{{name}}</a></div>
                </div>
                <div class="role">
                    <div class="role">{{email}}</div>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-6">
            <div class="agent-pls">
                <div class="agent-name">
                    <div class="name"> User not Found!</div>
                </div>
                <div class="role">
                    <div class="role">-------</div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>


    <div class="add-btn">
        <a href="/user-list-page/create-user?id={{usere.[0].agentId}}&token={{usere.[0].ticket}}">Create</a>
    </div>
</div>